.hidden {
    display: none;
}

.error {
    font-size: 12px;
    color:red;
	display:none;
}

.info {
    font-size: 2em;
    color:green;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
	font-size: 100.01%;
}
input{
	background-color:white;
	border:1px solid gray;
	color:blue;
}
li{
	margin:1px;
}
.header{
	background-color:green;
	color:white;
}
.usage{
	background-color:#24470a;
	color:white;
}
.coded{
	background-color:#c3cdbc;
	color:black;
}
.coded_value{
	color:red;
}
div.coded_error{
	background-color:#ffa1a1;
}
